main {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.66fr 1fr;
  column-gap: 1rem;
  height: 100vh;
}

.site-title {
  align-self: end;
  text-align: center;
}

.nav {
  align-self: start;
  justify-self: center;
  text-align: center;
  width: 300px;
  margin-left: 0;
  padding: 0;
  list-style: none;
}

.nav li a {
  text-decoration: none;
  display: block;
  border: 3px solid #000;
  margin: 0.25rem 0;
  padding: 1rem;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 300px 300px 1fr;
    grid-template-rows: 1fr;
  }

  .site-title {
    grid-column-start: 2;
    align-self: center;
  }

  .nav {
    grid-column-start: 3;
    align-self: center;
  }
}
