.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
}

.site-title {
  align-self: end;
  text-align: center;
}

.nav {
  align-self: start;
  text-align: center;
  padding: 0;
  list-style: none;
}

@media (min-width: 768px) {
  .wrapper {
    grid-template-columns: 1fr 300px 300px 1fr;
    grid-template-rows: 1fr;
  }

  .site-title {
    grid-column-start: 2;
    align-self: center;
  }

  .nav {
    grid-column-start: 3;
    align-self: center;
  }
}
