.wrapper {
  display: grid;
  grid-template-columns: 1fr 300px 300px 1fr;
  align-items: center;
  height: 100vh
}

.site-title {
  grid-column-start: 2;
  text-align: center
}

.nav {
  grid-column-start: 3;
  text-align: center;
  padding: 0;
  list-style: none
}